.button {
  font: inherit;
  border: 1px solid #005f1d;
  background: #005f1d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #038b15;
  border-color: #038b15;
}

.button:focus {
  outline: none;
}
